/* Navbar */
.navbar form {
  justify-content: end;
}

.game-search-bar {
  max-width: 200px;
}

/* Home page */

.upcoming-month ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  list-style-type: none;
}

.card-body {
  overflow: auto;
}

.card-title {
  text-align: center;
  color: green;
}
